/blog-web/node_modules/
/blog-web/.npm-cache/
/blog-web/.idea/
/blog-web/dist/
/blog-web/test-results/
/blog-admin/node_modules/
/blog-admin/.npm-cache/
/blog-admin/.idea/
/blog-admin/dist/
/blog-admin/test-results/
/blog-server/target/
/blog-server/data/
/blog-server/application-local.yml
/blog-server/uploads/*
!/blog-server/uploads/2026/
/blog-server/uploads/2026/*
!/blog-server/uploads/2026/07/
/blog-server/uploads/2026/07/*
!/blog-server/uploads/2026/07/seed/
!/blog-server/uploads/2026/07/seed/*.jpg
/blog-server/logs/
/frontend/
/.idea/
/.env
*.log
/.run-logs/
